NEXT_PUBLIC_GTM_API_BASE=http://localhost:3001
NEXT_PUBLIC_CMS_API_BASE=http://localhost:3001
NEXT_PUBLIC_LOGIN_URL=https://rs.pttads.vn/login
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_USD_PRICE=0
CMS_REVALIDATE_SECRET=dev-secret
